h1{
    text-align: center;
    font-size: 40px;
}
.carbox {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10;
  width: 20%;
  transition: transform 0.3s;
}
.carbox:hover {
  transform: translateY(-5px);
  background-color: rgb(84, 78, 89);
}
.carbox img{
    width: 100%; 
    height: 150;
}
.div{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
